<%= form_with(model: profile, local: true) do |form| %>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :surname %>
    <%= form.text_field :surname %>
  </div>

  <div class="field">
    <%= form.label :profile_picture %>
    <%= form.file_field :profile_picture, accept: 'image/png, image/jpeg, image/jpg' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
