<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @profile.username %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @profile.surname %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Home', items_path %>
