<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @state.state %>
</p>

<p>
  <strong>Description:</strong>
  <%= @state.state %>
</p>

<%= link_to 'Edit', edit_state_path(@state) %> |
<%= link_to 'Back', state_path %>