<p id="notice"><%= notice %></p>

<h1>For Sale</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th>Description</th>
      <th colspan="8"></th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" <%= image_tag item.item_picture if item.item_picture.attached? %> <%= item.title %>
          <div class="card-body">
            <p class="card-text"> <%= item.description %></p>
            <%= link_to 'Show', item %>
            <%= link_to 'Edit', edit_item_path(item) %>
            <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %>

          </div>
        </div>      
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
